.github/**
.vscode/**
.vscode-test/**
node_modules/**
src/**
test/**
.eslintcache
.eslintignore
**/.eslintrc.json
.gitattributes
.gitignore
.gitignore-revs
.mailmap
.prettierignore
.prettierrc
.yarnrc
CODE_OF_CONDUCT.md
CONTRIBUTING.md
**/tsconfig.json
**/tsconfig.tsbuildinfo
vsc-extension-quickstart.md
webpack.config.js
yarn.lock
**/*.map
**/*.ts
